
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Ricall is a IoT project to help people to remember things they should not forget">
	<meta name="author" content="itonoli">
	<title>Ricall | Dashboard</title>
	<!-- Favicon icon -->
	<link rel="shortcut icon" type="image/png" href="img/favicon.png">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
	<!-- Bootstrap Core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="/css/style.css" rel="stylesheet">

</head>

<body>
	<div class="header container-fluid">
		<nav>
				<a class="navbar-brand" href="/"><img class="logo" src="/img/logo_notext.png" alt="logo" title="home"/></a>
				<ul class="navbar-nav">
					<li class="nav-item dropdown nobullet floatRight">
						<a class="nav-link dropdown-toggle">
							<img src="/img/users/1.jpg" alt="user" class="profile-pic img-circle" /><%=user.name%>
						</a>
					</li>
				</ul>
		</nav>
	</div>
	<div class="content container-fluid">
		<div class="addRivent container-fluid">
			<div class="container">
				<div class="row addertitle">
					<img class="img" id="icon-select" alt="select" src="/img/icon_select.png"/>
					<h2>ADD RICALL</h2>
				</div>
				<div class="row adder">
					<input type="text" class="addText" placeholder="TITLE">
					<button class="addBtn" id="date-btn">DATE</button>
					<div id="calendar">
						<div id="datepicker"></div>
						<input id="date" type="text">
					</div>
					<button class="addBtn" id="category-btn">CATEGORY</button>
					<button class="addBtn" id="add-btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
				</div>
			</div>
		</div>

		<div class="displayRivent container-fluid">
			<div class="rivent-container">
				<span id="upcoming"> Upcoming </span><span id="history"> History </span>
					<% for(var i=0; i < rivent.length; i++){ %>
						<div id="list" class="rivent-box">
							<i class="fa fa-circle" id="<%=rivent[i].urgency%>"></i>
							<p id="lst-desc" class="pull-right"><%=rivent[i].title%></p>
							<p id="lst-time" class="pull-right"><%=rivent[i].ricall_time%></p>
							<button class="del-btn " id="<%=rivent[i].event_id%>" type="submit">Delete</button>
						</div>
					<%}%>
			</div>
		</div>
	</div>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/todo.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="399989e7-1d1e-45ae-a62c-cf77e9ac4ee1";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.im/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</body>

</html>
